<div class="row persons-view">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Dine opgaver</h1>
                </div>
            </div>
            
        </div>
        <div class="panel-body no-padding">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Tidspunkt</th>
                        <th>Begivenhed</th>
                        <th>Opgave</th>
                        <th>Rolle</th>
                        <th>Evt. titel</th>
                        <th>Evt. lokation</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="task in tasks">
                        <td>
                            {{task.startTime | date:'short'}}
                        </td>
                        <td>
                            {{'EVENT_TYPES.' + task.agenda.event.type | translate}}
                        </td>
                        <td>
                            {{'TASK_TYPES.' + task.type | translate}}
                        </td>
                        <td>
                            {{'ASSIGNMENT_TYPES.' + getAssignment(task).type | translate}}
                        </td>
                        <td>
                            {{task.meta.title}}
                        </td>
                        <td>
                            {{task.meta.Location}}
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>



</div>