<div class="modal-header">
    <h4 class="modal-title">{{'ASSIGNMENT_TYPES.' + assignment.type | translate}}</h4>
</div>
<div class="modal-body no-padding">
    <div class="list-group no-margin" style="min-height:300px;max-height:300px">
        <a ng-if="!loading" ng-repeat="relation in relations | metaSuggestions:task:assignment | orderBy:['lastAssignmentStartTime', 'person.firstName', 'person.lastName']" ng-click="select(relation.person)" class="list-group-item" ng-class="{active:relation.person.id===assignee.id}">
          <span class="badge" ng-if="relation.lastAssignmentStartTime">{{relation.lastAssignmentStartTime | date:'shortDate'}}</span>
          {{relation.person.firstName}} {{relation.person.lastName}}
        </a>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-primary" ng-click="ok()" translate="EVENT.EDITOR.OK">OK</button>
    <button class="btn btn-sm btn-warning" ng-click="cancel()" translate="EVENT.EDITOR.CANCEL">Annuller</button>
</div>


