<div class="row no-padding no-margin calendar-view">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm" ng-click="prev()">&lt;</button>
                            <button class="btn btn-default btn-sm" ng-click="next()">&gt;</button>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h1 style="text-align:center">{{date | date:'MMMM yyyy' | uppercase}}</h1>
                    </div>
                    <div class="col-sm-4">
                        <div class="btn-group pull-right" dropdown>
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" ng-disabled="disabled">
                                Udskriv <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a ng-click="print('FieldServiceMeeting')">Samlingsplan</a>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>

            </div>
            <div class="panel-body no-padding">
                <!--div ng-hide="view !== 'calendar'" ui-calendar="uiConfig.calendar" class="calendar" ng-model="eventSources" calendar="calendarObj" ng-keydown="onKeyPress($event)"></div-->
                <event-calendar domain="context.relation.domain" editable="canEdit()" date="date"></event-calendar>
            </div>
        </div>

    </div>

</div>