<div class="row persons-view">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-3">
                    <input type="search" class="form-control" placeholder="Søg..." disabled>
                </div>
                <div class="col-sm-9">
                    <button type="button" ng-click="addDomain()" class="btn btn-info btn-sm dropdown-toggle pull-right" ng-disabled="disabled">
                        Tilføj
                    </button>

                </div>
            </div>

        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Type</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="domain in domains" ng-click="editDomain(domain)">
                        <td>
                            {{domain.name}}
                        </td>
                        <td>
                            {{domain.type}}
                        </td>
                        
                        <td>
                            <a ng-click="editRelations(domain);$event.stopPropagation();">Relationer</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>



</div>