<div class="row no-padding no-margin">
    <div class="col-sm-12 no-padding">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm" ng-click="prev()">&lt;</button>
                            <button class="btn btn-default btn-sm" ng-click="next()">&gt;</button>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h1 style="text-align:center">{{date | date:'MMMM yyyy'}}</h1>
                    </div>
                    <div class="col-sm-2">
                        <div class="btn-group" dropdown is-open="status.isopen" style="text-align:right">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" ng-disabled="disabled">
                                Udskriv <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Samlingsplan</a></li>

                            </ul>
                        </div>

                    </div>
                </div>

            </div>
            <div class="panel-body no-padding">
                <div ui-calendar="uiConfig.calendar" class="calendar" ng-model="eventSources" calendar="calendarObj" ng-keydown="onKeyPress($event)"></div>
            </div>
        </div>

    </div>
    
</div>