<div class="row view-newpassword">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3" id="loginform-wrapper" ng-if="step==1">
        <h1>Create New Password</h1>
        <p>In order to create a new password you need to fill in some basic information.</p>
        <p>Please type in your Email Address.</p>
        
        <!-- STEP 1 -->
        <form id="step_1">
            <div class="form-group">
                <label for="newpassword-email-address" class="ng-scope">Email Address</label>
                <input type="text" class="form-control" ng-model="data.emailAddress">
            </div>
            <button id="button-login" type="submit" ng-click="next()" class="btn btn-primary expose-icon-when-disabled" ng-disabled="changingStep">
                <span class="icon-wrapper"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                Next
            </button>
        </form>
    </div>
        
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3" id="loginform-wrapper" ng-if="step==2">
        <h1>Almost there!</h1>
        <p>Thank you. Now please answer the security question you originally chose an answer for when you created the login.</p>
        
        <!-- STEP 2 -->
        <form id="step_2" ng-if="step==2">
            <div class="form-group">
            <label>Question</label>
            <div>{{securityQuestionTypes[data.securityQuestionType]}}</div>
            </div>
            <div class="form-group">
                <label for="newpassword-answer">Answer</label>
                <input type="text" class="form-control" ng-model="data.securityQuestionAnswer">
            </div>
            <button id="button-login" type="submit" ng-click="next()" class="btn btn-primary expose-icon-when-disabled" ng-disabled="changingStep">
                <span class="icon-wrapper"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                Generate New Password
            </button>
        </form>
    </div>
    
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3" id="loginform-wrapper" ng-if="step==3">
        <h1>Perfect!</h1>
        <p>The new password has now been emailed to you. Please check you spam filter if it does not arrive within the next few minutes.</p>
        <p><a href="#/login">Go to Login</a></p>
        
    </div>
</div>