body {
    padding-top: 45px;
}

.fc-header {
    display:none;
}

.container-fluid > .row.no-padding {
    margin-left:-30px !important;
    margin-right:-15px !important;
    padding: 0px !important;
}

.container-fluid > .row.no-padding > *[class*=col-] {
    padding-right:0px;
}


.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}
.padding-left {
    padding-left: 15px !important;
}

.padding-right {
    padding-right: 15px !important;
}

.calendar-view .panel-heading .btn-group {
  margin-top:24px;
}

.fc-event.selected {
    border: 1px solid #0079a1; /* default BORDER color */
	background-color: #008cba; /* default BACKGROUND color */
	color: white;
}